<html>
    <head>
        <style>
            body
            {
                font-family: Arial, sans-serif;
                background-color: whitesmoke;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background: linear-gradient(to right rgba(128, 128, 128, 0.574),rgba(0, 0, 0, 0.547));
            }

            h2 
            {
                color: red;
                font-size: 24px;
                margin-bottom: 10px;
                text-align: center;
            }

            h3 
            {
                font-size: 18px;
                text-align: center;
            }

            a 
            {
               color: blue;
               text-decoration: none;
               padding: 10px 20px;
               border: 2px solid black;
               border-radius: 5px;
               transition: background-color 0.3s, color 0.3s;
            }

            a:hover 
            {
               background-color: blue;
               color: white;
            }
        </style>
    </head>
    
    <body>
        <h2>City Name Can't be Empty</h2>
        <h3><a href="/empty">Enter City Name Again</a></h3>
    </body>
</html>